<div class="flex-fill d-flex flex-column justify-content-center">
    <div class="container-tight py-6">
        <div class="text-center mb-4">
            <img src="./static/logo.svg" height="36" alt="">
        </div>
        <form class="card card-md" action="." method="get">
            <div class="card-body">
                <h2 class="mb-5 text-center">Ingrese a su cuenta</h2>
                <div class="mb-3">
                    <label class="form-label">Dirección de correo electrónico</label>
                    <input type="email" class="form-control" placeholder="Correo electrónico" autocomplete="off">
                </div>
                <div class="mb-2">
                    <label class="form-label">
                        Contraseña
                        <span class="form-label-description">
                            <a href="./forgot-password.html">He olvidado mi contraseña</a>
                        </span>
                    </label>
                    <div class="input-group input-group-flat">
                        <input type="password" class="form-control" placeholder="Contraseña">
                        <span class="input-group-text">
                            <a href="#" class="link-secondary" title="Show password" data-toggle="tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" /><circle cx="12" cy="12" r="2" /><path d="M2 12l1.5 2a11 11 0 0 0 17 0l1.5 -2" /><path d="M2 12l1.5 -2a11 11 0 0 1 17 0l1.5 2" /></svg>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-check">
                        <input type="checkbox" class="form-check-input" />
                        <span class="form-check-label">Recuerdame</span>
                    </label>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                </div>
            </div>
            <div class="hr-text">O</div>
            <div class="card-body">
                <div class="btn-list">
                    <a href="#" class="btn btn-white btn-block">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon text-google" fill="currentColor"><path d="M12.24 10.285V14.4h6.806c-.275 1.765-2.056 5.174-6.806 5.174-4.095 0-7.439-3.389-7.439-7.574s3.345-7.574 7.439-7.574c2.33 0 3.891.989 4.785 1.849l3.254-3.138C18.189 1.186 15.479 0 12.24 0c-6.635 0-12 5.365-12 12s5.365 12 12 12c6.926 0 11.52-4.869 11.52-11.726 0-.788-.085-1.39-.189-1.989H12.24z"></path></svg>
                        Ingresar con Google
                    </a>
                    <a href="#" class="btn btn-white btn-block">
                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="icon text-facebook" fill="currentColor"><path d="M22.676 0H1.324C.593 0 0 .593 0 1.324v21.352C0 23.408.593 24 1.324 24h11.494v-9.294H9.689v-3.621h3.129V8.41c0-3.099 1.894-4.785 4.659-4.785 1.325 0 2.464.097 2.796.141v3.24h-1.921c-1.5 0-1.792.721-1.792 1.771v2.311h3.584l-.465 3.63H16.56V24h6.115c.733 0 1.325-.592 1.325-1.324V1.324C24 .593 23.408 0 22.676 0"></path></svg>
                        Ingresar con Facebook
                    </a>
                </div>
            </div>
        </form>
        <div class="text-center text-muted">
            ¿Aún no tienes cuenta? <a href="#" tabindex="-1">Registrarse</a>
        </div>
    </div>
</div>
