@model BEUProyecto.Persona
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<div class="flex-fill d-flex flex-column justify-content-center">
    <div class="container-tight py-6">
        <div class="mb-5 text-center">
            <a href='@Url.Action("Index", "Home")'>
                <img src='@Url.Content("~/images/logo.svg")' height="100" />
            </a>
        </div>
        <form class="card card-md" action="." method="get">
            <div class="card-body">
                <h2 class="mb-5 text-center">Ingrese a su cuenta</h2>
                <div class="mb-3">
                    <label class="form-label">Dirección de correo electrónico</label>
                    <input type="email" class="form-control" placeholder="Correo electrónico" autocomplete="off">
                </div>
                <div class="mb-2">
                    <label class="form-label">
                        Contraseña
                    </label>
                    <div class="input-group input-group-flat">
                        <input type="password" class="form-control" placeholder="Contraseña">
                        <span class="input-group-text">
                            <a href="#" class="link-secondary" title="Show password" data-toggle="tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" /><circle cx="12" cy="12" r="2" /><path d="M2 12l1.5 2a11 11 0 0 0 17 0l1.5 -2" /><path d="M2 12l1.5 -2a11 11 0 0 1 17 0l1.5 2" /></svg>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                </div>
            </div>
        </form>
        <div class="text-center text-muted" style="font-size:17px">

            ¿Aún no tienes cuenta? <a href='@Url.Action("Register", "Direcciones")'>Registrarse</a>
        </div>
    </div>
</div>


