<div class="flex-fill d-flex flex-column justify-content-center">
    <div class="container-tight py-6">
        <div class="text-center mb-4">
            <img src="./static/logo.svg" height="36" alt="">
        </div>
        <form class="card card-md" action="." method="get">
            <div class="card-body">
                <h2 class="mb-5 text-center">Registrate</h2>
                <div class="mb-3">
                    <label class="form-label">Nombres</label>
                    <input type="text" class="form-control" placeholder="Ingrese sus nombres">
                </div>
                <div class="mb-3">
                    <label class="form-label">Apellidos</label>
                    <input type="text" class="form-control" placeholder="Ingrese sus apellidos">
                </div>
                <div class="mb-3">
                    <label class="form-label">Identificación</label>
                    <input type="text" class="form-control" placeholder="Ingrese su cédula / RUC / pasaporte">
                </div>
                <div class="mb-3">
                    <label class="form-label">Celular</label>
                    <input type="text" class="form-control" placeholder="Ingrese su número de celular">
                </div>
                <div class="mb-3">
                    <label class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" placeholder="Ingrese un correo electrónico">
                </div>
                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <div class="input-group input-group-flat">
                        <input type="password" class="form-control" placeholder="Ingrese una contraseña">
                        <span class="input-group-text">
                            <a href="#" class="link-secondary" title="Show password" data-toggle="tooltip">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" /><circle cx="12" cy="12" r="2" /><path d="M2 12l1.5 2a11 11 0 0 0 17 0l1.5 -2" /><path d="M2 12l1.5 -2a11 11 0 0 1 17 0l1.5 2" /></svg>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Registrarse como</label>
                    <div class="col">
                        <select class="form-select">
                            <option>Cliente</option>
                            <option>Comerciante</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-check">
                        <input type="checkbox" class="form-check-input" />
                        <span class="form-check-label">Estoy de acuerdo con los <a href="./terms-of-service.html" tabindex="-1">términos y condiciones</a>.</span>
                    </label>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block">Crear cuenta</button>
                </div>
            </div>
        </form>
        <div class="text-center text-muted">
            ¿Ya tienes cuenta? <a href="./sign-in.html" tabindex="-1">Ingresar</a>
        </div>
    </div>
</div>