@Styles.Render("~/Content/cssComerciante/app-style.css")
@{
    ViewBag.Title = "PanelComerciante";
    Layout = "~/Views/Shared/_LayoutPanelComerciante.cshtml";
}
<div class="row">
    <div class="col-6 col-lg-6">
        <a href='@Url.Action("PanelComerciante", "Comerciantes",new { id = ViewBag.id })'>
            <div class="card">
                <h3 style="color:black;text-align:center">Home</h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-6">
        <a href='@Url.Action("PanelNegocio", "Comerciantes",new { id = ViewBag.id })'>
            <div class="card">
                <h3 style="color:black;text-align:center">Negocios</h3>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-6 col-lg-6">
        <a href='@Url.Action("PanelPedidos", "Comerciantes",new { id = ViewBag.id })'>
            <div class="card">
                <h3 style="color:black;text-align:center">Pedidos</h3>
            </div>
        </a>
    </div>
    <div class="col-6 col-lg-6">
        <a href='@Url.Action("PanelDatos", "Comerciantes",new { id = ViewBag.id })'>
            <div class="card">
                <h3 style="color:black;text-align:center">Datos Personales</h3>
            </div>
        </a>
    </div>
</div>


