
Pry1ParcialCert-I/obj/Debug/Pry1ParcialCert-I.csprojAssemblyReference.cache
BEUProyecto/obj/Debug/BEUProyecto.csprojAssemblyReference.cache
BEUProyecto/obj/Debug/BEUProyecto.csprojAssemblyReference.cache
