<div class="flex-fill d-flex flex-column justify-content-center">
    <div class="container-tight py-6">
        <div class="text-center mb-4">
            <img src="./static/logo.svg" height="36" alt="">
        </div>
        <form class="card card-md" action="." method="get">
            <div class="card-body">
                <h2 class="mb-5 text-center">He olvidado mi contraseña</h2>
                <p class="text-muted">Ingrese su dirección de correo electrónico y su contraseña se restablecerá.</p>
                <div class="mb-3">
                    <label class="form-label">Dirección de correo electrónico</label>
                    <input type="email" class="form-control" placeholder="Correo electrónico">
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary btn-block">Enviarme la nueva contraseña</button>
                </div>
            </div>
        </form>
        <div class="text-center text-muted">
            Olvídalo, <a href="./sign-in.html">envíame de vuelta</a> a la pantalla de ingreso.
        </div>
    </div>
</div>