@Styles.Render("~/Content/cssComerciante/app-style.css")
@{
    ViewBag.Title = "PanelComerciante";
    Layout = "~/Views/Shared/_LayoutPanelComerciante.cshtml";
}
<div class="row">
    <div class="col-6 col-lg-6">
        <div class="card">
            <h1>Card 1</h1>
        </div>
    </div>
    <div class="col-6 col-lg-6">
        <div class="card">
            <h1>Card 2</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6 col-lg-6">
        <div class="card">
            <h1>Card 3</h1>
        </div>
    </div>
    <div class="col-6 col-lg-6">
        <div class="card">
            <h1>Card 4</h1>
        </div>
    </div>
</div>


