<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>
        Información de Usuario
    </h1>
    <h3>Un usuario solicito contactarse con MI VECI</h3>
    <h3>Revise sus inquietudes y responda de inmediato</h3>
    <br />
    <table>
        <tr>
            <td><b>Nombre:</b></td>
            <td>{nombre}</td>
        </tr>
        <tr>
            <td><b>Correo:</b></td>
            <td>{correo}</td>
        </tr>
        <tr>
            <td><b>Asunto:</b></td>
            <td>{asunto}</td>
        </tr>
        <tr>
            <td><b>Mensaje:</b></td>
        </tr>
        <tr>
            <td>{mensaje}</td>
        </tr>
    </table>
</body>
</html>
